/**HEADER**/

header {
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-logo {
    height: 24px;
}

header a {
    color: gray;
    margin-left: 24px;
}

header a:hover {
    color: black;
}

header a:active {
    color: black;
}


/**HERO SECTION**/

#hero-section {
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
}


/**FOOTER**/

footer {
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
}


/*INFO*/

.info {
    background-color: #222222;
}

.info h5 {
    color: white;
}

.info p {
    color: #b0b0b0;
}

.list-group-mine .list-group-item {
    background-color: #222222;
    color: #b0b0b0;
    border-top: 0.1px solid #b0b0b0;
    border-right: none;
    border-left: none;
}

#banner {
    background-color: #33c08b;
    height: 2em;
    position: absolute;
    left: 2%;
    top: 15%;
}

@media only screen and (max-width:700px) {
    #hero-section {
        background-image: url(../imgs/hero.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }
    #banner {
        top: 12%;
        font-size: 14px;
    }
    #hero {
        height: 250px;
    }
}